.scroller {
    max-width: 110%;
    color: white;
    overflow: hidden;
}

.scroller-inner {
    width: max-content;
    align-items: center;
    gap: 2rem;
    display: flex;
}

.scroller .scroller-inner {
    padding-block: 1rem;
    flex-wrap: nowrap;
    animation: scroll 20s linear infinite;
}

@keyframes scroll {
    to {
        transform: translate(-50%)
    }
}